@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "League Spartan", sans-serif;
}
/* app/globals.css */
@font-face {
  font-family: "League Spartan";
  src: url("/fonts/LeagueSpartan-Regular.ttf") format("ttf");
  /* url('/fonts/CustomFont-Bold.woff') format('woff'); */
  font-weight: regular;
  font-style: normal;
}
